bin/
obj/
*.user

src/WomensHealth.App/womenshealth.db
src/WomensHealth.App/womenshealth.db-shm
src/WomensHealth.App/womenshealth.db-wal
src/WomensHealth.App/server.info
src/WomensHealth.App/backups/
